// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-grey: #454545;
$secondary-orange: #FF6000;
$thirdly-orange:#FFA559;
$fourthly-orange: #FFE6C7;

$bleu: #1E3D59;
$beige: #F5F0E1;
$orange-vif:#FF6E40;
$orange-mat: #FFC13B;
