<div class="bars bg-white" data-search-bars-target="list">
<h1>List of bars</h1>
<% @bars.each do |bar| %>
<%#= cl_image_tag bar.photo.key, crop: :fit%>
<p><%= bar.name %> <h3 class="mb-2"><%= link_to bar.name, bar_path(bar) %></h3></p>
<p><%= bar.address %></p>
<p><%= bar.category %></p>
<% end %>
</div>
