<div class="footer bg-white d-flex justify-content-around">
  <div class="footer-links ">
  <a href="#" style = "color:#E2711D"><i class="fa-solid fa-house"></i></i></a>
  <a href="#" style = "color:#E2711D"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="#" style = "color:#E2711D"><i class="fa-solid fa-calendar-days"></i></a>
      <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
  </div>
</div>
