<div class="footer-i d-flex justify-content-around w-90 align-items-center footer-icons footer-bottom-page">
  <%= link_to root_path, class: "text-decoration-none" do %>
    <i class="fa-solid fa-house fa-2x text-white"></i>
  <% end %>
  <%= link_to new_event_path, class: "text-decoration-none" do %>
    <i class="fa-solid fa-circle-plus fa-5x" style="color:#FF6E40"></i>
  <% end %>

  <div class="dropdown">
  <i class="avatar dropdown-toggle fa-solid fa-user fa-2x text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
   <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>
