<div class="navbar navbar-lewagon sticky-top">
  <div class="container">
    <div class="back-button">
      <%= link_to :back do %>
      <i class="fa-solid fa-circle-arrow-left fa-xl" style="color: #ffffff;"></i>
      <% end %>
    </div>
    <div class="toggle-btn-text" data-action="click->toggle#fire">
      <input type="checkbox" class="checkbox" />
      <div class="knobs border border-2 border-dark d-flex align-items-center">
        <span></span>
      </div>
      <div class="layer"></div>
    </div>

    <div class="d-flex align-items-center">
      <div class="<%= 'd-none ' if @notification_counter == 0 %> me-2" data-notifications-subscription-target='counter'>
        <%= @notification_counter %>
      </div>
      <%= link_to "", root_path, class: "fa-solid fa-bell fa-xl", style:"color: #ffffff"%>
    </div>
  </div>

  </div>
</div>
