<div class="map-bar-window">
  <%= link_to(bar_path(bar)) do %>
    <%= cl_image_tag bar.photo.key, crop: :fit, class:"map-bar-window-img"%>
  <% end %>
  <div class="map-bar-window-infos">
    <h2><%= bar.name %></h2>
    <p><%= bar.address %></p>
  </div>
</div>
