<div data-controller="search-events">
  <%= form_with url: recap_path, method: :get, html: {class: "d-flex rounded", data: {search_events_target: "form"} } do |f|%>
    <%= f.text_field :query,
      class: "form-control bg-white rounded-pill",
      placeholder: "Look for an event",
      value: params[:query],
      data: {
      action: "keyup->search-events#update",
      search_events_target: "input"
      }
    %>
    <button type="submit" id="submit"  class="border-0" style = "background-color:#FFA559">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  <% end %>
  <% if user_signed_in? %>
  <div class="form-check form-switch"  data-action="click->search-events#fire">
  <label class="form-check-label" for="flexSwitchCheckDefault">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-search-events-target="button" placeholder="My events" checked>
    <span class="host" data-search-events-target="organizer">Organizer</span>
    <span class="invit d-none" data-search-events-target="guest">Guest</span>
  </label>
</div>
<h2>Events</h2>
    <%= render "recap"%>
  <% else %>
    <p>Please sign in ta race </p>
  <% end %>
</div>
<%= render "shared/homefooter" %>