.banner {
  padding: 20px 0;
  color:white;
  text-align: center;
  background-image: asset-url('banner_afterway.png');
  background-size: cover;
  background-position: center;
  h1 {
    font-family: 'Baskerville';
  }
}
