.btn-small-orange {
  color: $secondary-orange;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  background: $fourthly-orange;
  transition: background 0.3s ease;
  border: 1px solid $secondary-orange;
}

.btn-small-orange2 {
  color: $secondary-orange;
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: bold;
  background: $thirdly-orange;
  transition: background 0.3s ease;
  border: 1px solid $secondary-orange;
}

.btn-small-orange:hover {
  background: $thirdly-orange;
  color: white;
}

.btn-small-white {
  color: $secondary-orange;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid $secondary-orange;
}

.btn-small-white2 {
  color: $primary-grey;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  background: $beige;
  transition: background 0.3s ease;
  border: 1px solid $bleu;
}

.btn-small-white:hover {
  background: $thirdly-orange;
  color: white;
}


.btn-small-white-blue {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid $bleu;
}

.btn-small-blue {
  color:white;
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  background: $bleu;
  transition: background 0.3s ease;
  border: 1px solid white;
}

.btn-btn-primary {
  background-color: #1E3D59;
  color: white;
  border-color: #3276b1;
  border-radius: 25px;

}
