.card-map-list {
  color: $primary-grey;
}

.card-map-list h1 {
  color: $orange-vif;
  text-align: center;
  margin-top: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-map-list p {
  color: $bleu;
}

.card-bar-infos-left a {
  color : $primary-grey;
  text-decoration: none;
}

.card-map-list-recap {
  padding: 8px;
}

.card-bar {
  overflow: hidden;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px;
  margin: 8px;
  margin-bottom: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .bg-image{
    height: 260px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
}

.card-bar-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  h3 {
    color: white;
    text-align: center;
    font-family: 'Concert One', cursive;
    -webkit-text-stroke: 0.5px #1E3D59;
    font-size: 30px;
  }
}

.card-bar-infos{
  background-color: $fourthly-orange;
  padding:16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-bar-infos-left{
  font-size:18px;
}

.card-bar-infos-right{
  width : 100px;
  font-size:10px;
  margin-left: 10px;
}

.card-bar-infos-right-pouce{
    background-color: $bleu;
    border-radius: 50%;
    border:solid;
    border-color:white;
    text-align: center;
    font-size:26px;
    position: absolute;
    right: 0px;
    top: -200px;
    width: 40px;
}

.card-bar-infos-vote{
  background-color: $beige;
  padding:10px;
  color: $bleu;
  border-radius: 10px;
  border:solid;
  border-color: $bleu;
  text-align: center;
  font-size:12px;
  position: absolute;
  right: 0px;
  top: -70px;
  width: 70px;
}

.card-bar-infos-right-pouce-orange{
  background-color: $orange-vif;
  border-radius: 50%;
  border:solid;
  border-color:white;
  text-align: center;
  font-size:26px;
  position: absolute;
  right: 0px;
  top: -200px;
  width: 40px;
}

.card-bar-category{
  text-align: center;
  padding: 4px;
  font-style: italic;
  font-size: 10px;
  border-radius: 10px;
  background:$orange-mat;
  transition: background 0.3s ease;
  border: 1px solid $primary-grey;
  position: absolute;
  right: 230px;
  top: -60px;
  width: 80px;
}

.map-list {
  border:solid;
  border-color: $bleu;
  border-radius: 18px;
  width: 100%;
  height: 375px;
}

.mapboxgl-canvas {
  border-radius: 18px;
  height: 375px!important;
  width: 100%!important;
}

.bar-found{
  text-align: center;
  font-weight: bold;
  color: $bleu;
  font-size: 18px;
}
