.card-body-bar {
  // background-color: $fourthly-orange;
  border-radius: 0 0 8px 8px;
  padding: 18px;
}

.card-bar-description {
  background-color: $orange-mat;
  border-radius: 8px;
  border: 3px solid hsla(0,0%,100%,.5);
  margin: 0 5px;
  padding:6px;
}

.card-bar-img2 {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.centered {
  color: white;
  font-weight: bold;
  font-size:26px;
}

.booking-div{
  position: relative;
}
