.card-body-bar {
  // background-color: $fourthly-orange;
  border-radius: 0 0 8px 8px;
  padding: 18px;
}

.card-bar-description {
  background-color: $thirdly-orange;
  border-radius: 8px;
  border: 3px solid hsla(0,0%,100%,.5);
  margin: 0 5px;
  padding:6px;
}

.card-policy {
  color: $primary-grey;
}

.card-policy h1 {
  color: $secondary-orange;
  text-align: center;
  margin-top: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-policy a {
  color : $primary-grey;
  text-decoration: none;
}

// .card-policy p {
//   font-size: 10px;
// }

.card-bar {
  overflow: hidden;
  border:solid;
  border-color: $thirdly-orange;
  border-radius: 18px;
  margin: 8px;
  margin-bottom: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .bg-image{
    background-image: url('https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2748&q=80');
    height: 260px;
    background-size: cover;
    background-position: center;
  }
}

.card-bar-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-bar-img2 {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-bar-infos{
  background-color: $fourthly-orange;
  padding:16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-bar-infos-left{
  font-size:18px;
}

.card-bar-infos-right{
  font-size:10px;
  margin-left: 10px;
}

.card-bar-infos-right-pouce{
    color: $secondary-orange;
    background-color: $thirdly-orange;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    font-size:26px;
    position: absolute;
    right: 0px;
    top: -200px;
    width: 40px;
}

.card-bar-category{
  padding: 4px 10px;
  font-weight: bold;
  background: #ECF9FF;;
  transition: background 0.3s ease;
  border: 1px solid $primary-grey;
}

.centered {
  color: white;
  font-weight: bold;
  font-size:26px;
}

.booking-div{
  position: relative;
}
