$blue1: #1E3D59;

.footer-icons {
  height: 100px;
}

.footer-bottom-page {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: #1E3D59;
  border-radius: 30px;
  z-index: 1000;
}
