.navbar-lewagon {
  background: $bleu;
  color:white
}

.navbar-lewagon a {
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  position: relative;
}

.pin-notification {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
